body {
    background: url(../img/bg.jpg) center center no-repeat;
    height: 100%;
  
    background-color: #dddddd;
}

html {
    height: 100%;
}

/*@media (min-width: 1366px) {
    .container {
        width: 985px;
    }
}*/



#responsive {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.img-responsive {
    background-color: white;
}

nav.navbar.navbar-inverse {
    border: none;
    margin-bottom: 15px;
    border-radius: 0px;
}

div#myNavbar.navbar-collapse.collapse {
    padding: 0px;
}

.container-fluid ul li {
    border-right: 1px solid white;
}

.container-fluid ul li a {
    padding-right: 40px;
    padding-left: 40px;
}

ul.li.btnVisualizer a{
    padding-top: 7px;

} 

.btnVisualizer {
    margin: 0 auto;
    width: 100px;
    height: 38px;
    background-color: #969696;
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnVisualizer:hover {
    background-color: black;
}

.btnVisualizer:focus  {
    background-color: aqua;
}

.paragraph {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.container.footer {
    height: 40px;
    background-color: #969696;
    padding-left: 0px;
    padding-right: 0px;
}



nav .container-fluid {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #969696;
}

nav.navbar {
    margin-bottom: 5px;
}


div.navbar-collapse {
    padding: 0px;
}

nav .container-fluid li {
    border-right: 1px solid white;
}

nav .container-fluid ul li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
    font-family: "museo", sans-serif;
    border: none;
    float: left;
}

nav.navbar {
    margin-top: 0px;
}

nav .container-fluid ul li a:hover {
    background-color: black;
}

nav .container-fluid ul li a:focus {
    background-color: orange;
}

img.img-responsive {
    padding: 0px;
}

.carousel-inner img {
    width: 100%;
    max-height: 450px;
}

.list-group-item {
    border: none;
}

.no-padding {
    padding: 0;
}

li.list-group-item.no-border {
   text-decoration: none;
}

li.list-group-item.no-border.options:hover {
    background-color: #dddddd;
}
li.list-group-item.no-border.options:active {
    background-color: aqua;
    
}
.no-padding-right {
    padding-right: 0;
    height: 100%;
}

.display-area {
    height: 660px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 0;
}

.list-group-item.active {
    background-color: orange;
}

.list-group-item.active:hover {
    background-color: orange;
}

.list-group-item a {
    text-decoration: none;
    color: #000;
}

.list-group-item.active a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

#submit {
    background-color: transparent;
    color: black;
    border: none;
    text-decoration: none;
}

#submit:active{
    border: orange;
    color: white;
    
}
