
<script type="text/javascript">

    $(document).ready(function  () {
        console.log("listo");
        var arr =
            {"options": null,
            "filters": null,
            "fdate": null,
            "tdate": null,
            "time": null };
        
        //var arr = [];
        //arr["options"] = null;
        //arr["filters"] = null;
        //arr["fdate"] = null; //fdate = from date
        //arr["tdate"] = null;//tdate = to date
        //arr["time"] = null;
        var x;

      

      
         $('.options > li').click(function() {
             x = $(this);
             
             if (arr['options'] === null) {

                 arr['options'] = x.attr('value');
             } else if (arr['options'] != null) {
                 arr['options'] = x.attr('value');
             }
            console.log(arr);


        });

        $('.filters > li').click(function() {
            x = $(this);
             
            if (arr['filters'] === null) {

                arr['filters'] = x.attr('value');
            } else if (arr['filters'] != null) {
                arr['filters'] = x.attr('value');
            }
            console.log(arr);


        });

        $('#fromDate').change(function () {
            x = $(this).val();
          
             
            if (arr['fdate'] === null) {

                arr['fdate'] = x;
                console.log(arr);
            } else if (arr['fdate'] != null) {
                arr['fdate'] = x;
            }
            console.log(arr);


        });

        $('#toDate').change(function () {
            x = $(this).val();


            if (arr['tdate'] === null) {

                arr['tdate'] = x;
                console.log(arr);
            } else if (arr['tdate'] != null) {
                arr['tdate'] = x;
            }
            console.log(arr);


        });
       
        $('#time').change(function () {
            x = $(this).val();
          
             
            if (arr['time'] === null) {

                arr['time'] = x;
                console.log(arr);
            } else if (arr['time'] != null) {
                arr['time'] = x;
            }
            console.log(arr);


        });

        $('#ready').click(function() {
            arr = JSON.stringify({ 'arr': arr });
            $.ajax({
                url: "/Visualizer/btnSubmit",
                type: "POST",
                data: arr,
                contentType: "json",
                datatype: 'aplication/json; chartset=utf-8',
                success: function(data) {
                    alert(data);
                }
            });
        });
        //if ($('#submit').click(function () {

        //    if (!arr["options"], !arr["filters"], !arr["fdate"], !arr["tdate"], !arr['time']) {
        //        alert('complete all the form');
        //    }

        //    $.each(arr, function(key, value) {
        //        $('.display-area').html($('.display-area').html() + '<br>' + key + '<span>' + value + '</br>');
        //    });


        //}));

    });


</script>
<div class="container">
    <div class="row">
        <div class="col-sm-3 no-padding">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>

                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <h4 style="padding-left: 10px">Options</h4>
                        
                        <ul class="list-group options">
                            <li class="list-group-item no-border" value="water" >Water</li>
                            <li class="list-group-item no-border" value="temperature">Temperature</li>
                            <li class="list-group-item no-border"  value="energy">Energy</li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <h4 style="padding-left: 10px">Filters</h4>
                        <ul class="list-group filters">
                            <li class="list-group-item no-border" value="average">Average</li>
                            <li class="list-group-item no-border" value="minimum">Minimum</li>
                            <li class="list-group-item no-border"  value="maximum">Maximum</li>
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <h4 style="padding-left: 10px">Date Range</h4>
                        <ul class="list-group">
                            <br>
                            <!--Date picker-->
                            <li class="list-group-item">
                                <div id="slidecontainer">
                                    <p>From</p>
                                    <form action="" >
                                        <input type="date" name="datetime" id="fromDate">
                                    </form>
                                    <br>
                                    <p>To</p>
                                    <form action="">
                                       <input type="date" name="datetime" id="toDate">
                                    </form>

                                </div>
                            </li>
                            
                            <!-- <input type="range" min="1990" max="2050" value="1990" class="slider" id="myRange">

                                <input type="range" name="rangeInput" min="1990" max="2050" onchange="updateTextInput(this.value);">
                                <br>
                                <input type="text" id="textInput" value="0" readonly>
                            </div>-->
                            <br>
                            <!--<div id="slidecontainer">
                            <p>Month</p>
                            <input type="range" name="rangeInput2" min="1" max="12" onchange="updateTextInput2(this.value);">
                            <br>
                            <input type="text" id="textInput2" value="0" readonly>
                            -->
                            <li class="list-group-item">
                                <p>Time</p>


                                <div class="input-group clockpicker">
                                    <input type="text" class="form-control" value="3:00" id="time">
                                    @*<span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>*@
                                    
                                </div>
                                <br>
                                <input type="button" id="ready" value="Ready"/>
                                <br>
                                <input type="button" id="submit" value="submit" @*onclick="location.href='@Url.Action("btnSubmit", "Visualizer")'"*@/>
                            </li>
                            
                            <!---<input type="range" min="1" max="12" value="1" class="slider" id="myRange">

                            </div>

                            <br>
                            <!--Day slider
                            <div id="slidecontainer">
                                <p>Day</p>
                                <!--<input type="range" min="1" max="31" value="1" class="slider" id="myRange">
                                <input type="range" name="rangeInput3" min="1" max="31" onchange="updateTextInput3(this.value);">
                                <br>
                                <input type="text" id="textInput3" value="0" readonly>
                            -->
                           
                        </ul>
                       
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-9 no-padding-right">
            <div class="display-area">
               
            </div>
            
        </div>
    </div>
</div>



@*<script src="~/Scripts/clockpicker.js"></script>
<script type="text/javascript">
    $('.clockpicker').clockpicker({
        donetext: 'Done'
    });
</script>*@







<!--/<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div></-->


